
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,600;0,800;1,400&family=Roboto:wght@300;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.main-container{
    background-color: #1f2937;
}

header{
    display: flex;
}

.logo, .navigation{
    padding: 20px;
}

.logo{
    flex: 1.5;
    text-align: center;
    font-size: 24px;
    color: #f9f4f8;
}

.navigation{
    list-style-type: none;
    flex: 2;
    display: flex;
    gap: 60px;
    justify-content: center;
}

.navigation a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
}

.section-container .information{
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-container .information h2{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9f4f8;
}
.section-container .information p{
    font-size: 18px;
    color: #e5e7eb;
}

.section-container .information button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 1%;
    border-radius: 5px;
    width: 20%;
    cursor: pointer;
}

.section-container .main-image {
    padding: 20px;
}

.section-container .main-image img{
    width: 350px;
    border-radius: 5px;
}

.second-section-title {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: center;
}

.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.card-img{
    border: 3px solid #3882f6;
    border-radius: 5px;
    height: 200px;
    overflow: hidden;
}

.card-img img{
    width: 150px;
}

.card-info{
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
}

.quote-section{
    background-color: #e5e7eb;
    height: 300px;
    display: flex;
    align-items: center;
}

.quote-section .quote{
    position: relative;
    width: 60%;
    margin: auto;
}

.quote-section .quote p{
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;;
}

.quote-section .quote h4{
    position: absolute;
    right: 50px;
}

.cta-section{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.cta-section .cta-container{
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0.7;
    padding: 40px;
    border-radius: 5px;
}


.cta-button button {
    border: none;
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    padding: 5%;
    color: white;
    cursor: pointer;
}

.cta-container-info h3, .cta-container-info p {
    color: white;
}

.cta-container-info p {
    font-weight: lighter;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 100px;
    color: white;
}